html, body{
    height: 100%;
    font-family: sans-serif;
}
body{
    padding: 0px;
    margin: 0px;
}
.center-location{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
	text-decoration:none;
	color:inherit;	
}

.box{
    padding:5px;
    border: 1px solid #e3e3e3;
    width: 400px;
}
.box h2{
    text-align: center;
}
.control{
    display: flex;
    padding:.8em;    
}

.control > *{
    border: 1px solid #e3e3e3;
    flex:1;
}
.control input {
    text-align: center;
    height: 40px;
    border-radius: 5px;
}

.primary-button{
    background-color:#5D79FF;
    cursor: pointer;
    color:white;
}

.admin-container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
}
.admin-container header,footer{
    background-color: #5D79FF;
    padding-top: 15px;
    padding-bottom:15px;
    text-align: center;
    color: white;
}

.admin-content{
    display: flex;
   margin-bottom: auto;
   flex:1
}

@media screen and (max-width: 768px){
    .admin-content{
        flex-direction: column-reverse;
    }
}

.left-side{
    background-color: #5D79FF;    
    padding: 20px;
}
.left-side nav ul{
    margin: 0px;
    padding: 0px;
}
.list-item{
    list-style: none;
   padding: 5px 0px;
}
.list-item a{
    text-decoration: none;
    color: white;
}
.list-item a:hover{
    color: black;
    text-decoration: underline;
}
.active{
    font-weight: bold;
    color:black !important;
}
.right-side {
    padding: 20px;
    flex:1;
}
.right-side.center-addon{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.table-list{
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #e3e3e3;
    text-align: center;
}
.table{
    table-layout: auto;
    width: 600px;
    margin: 5px 0px;
    text-align: left;    
    border-spacing: 0px;
}

.table thead,tbody tr{
    line-height: 2em;
}
.table th{
    padding:10px 0px 10px 5px;   
    background-color:#5D79FF;
    color: white;
  
}
.table td{
    padding-left: 5px;
}
.table thead,tbody tr:nth-child(even){background-color: #f2f2f2;}

.table thead,tbody tr:hover {background-color: #ddd;}
.img{
    display:flex;
    flex-wrap: wrap;
}
.img p{
    padding: 0 10px;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:100%;
}
.card{
 display: flex;
 flex-wrap: wrap;
}
.card-left{
    background: #c5c5c5;padding: 10px 15px;
}
.card-right{
    padding: 10px 15px;
    background-color: bisque;
}
.flex{
    display: flex;
}
.direction-column{
    flex-direction: column;
}