html, body{
    height: 100%;
    font-family: sans-serif;
}
body{
    padding: 0px;
    margin: 0px;
}
.center-location{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active{
    font-weight: bold;
}
.box{
    padding:5px;
    border: 1px solid #e3e3e3;
    width: 400px;
}
.box h2{
    text-align: center;
}
.control{
    display: flex;
    padding:.8em;    
}

.control > *{
    border: 1px solid #e3e3e3;
    flex:1;
}
.control input {
    text-align: center;
    height: 40px;
    border-radius: 5px;
}

.primary-button{
    background-color: aqua;
    cursor: pointer;
}

.admin-container{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
}
.admin-container header,footer{
    background-color: #5D79FF;
    height: 40px;
    padding-top: 15px;
    text-align: center;
    color: white;
}

.admin-content{
    display: flex;
   margin-bottom: auto;
   flex:1
}

@media screen and (max-width: 768px){
    .admin-content{
        flex-direction: column-reverse;
    }
}
.list-item{
    list-style: none;
   padding: 5px 0px;
}

.left-side{
    background-color: #5D79FF;    
    padding: 20px;
}
.right-side {
    padding: 20px;
    flex:1;
}
.right-side.center-addon{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-side nav ul{
    margin: 0px;
    padding: 0px;
}
.list-item a{
    text-decoration: none;
    color: white;
}
.list-item a:hover{
    color: black;
    text-decoration: underline;
}

.form-location{
    height: 100%;
    display: flex;   
    justify-content: center;
}

    /* .form-box{
        padding:5px;
        border: 1px solid #e3e3e3;
        width: 100%;
    }
    .form-box h2{
        text-align: center;
    } */
.table-list{
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #e3e3e3;
    text-align: center;
}
.table{
    table-layout: auto;
    width: 600px;
    margin: 5px 0px;
    text-align: left;    
    border-spacing: 0px;
}

.table thead,tbody tr{
    line-height: 2em;
}
.table th{
    padding:10px 0px 10px 5px;   
    background-color: aqua;
  
}
.table td{
    padding-left: 5px;
}
.table thead,tbody tr:nth-child(even){background-color: #f2f2f2;}

.table thead,tbody tr:hover {background-color: #ddd;}